body{
background-color:#F5B002;
}
.panel{
margin-left:150px;
margin-right:150px;
margin-top: 100px;
height:80%;
box-shadow:0px 1px 20px;
background-color:white;
}
.profile-pic{
position:relative;
height:60%;
left:15%;
top:10%;
}
.follow{
display:inline;
font-size:15px;
padding:10px;
color:Black;
border:solid 1px #F9B301;
}
.left-panel{
width:25%; 
height:100%;
background-color:#F9B301;
float:left;
}
.right-panel{
position:relative;
width:50%;
height:100%;
float:right;
padding-top:5%
}
.description{
color:grey;
margin-top:-50px;
font-size:25px;
padding-right:10%;
}
.follow-container{
position:absolute;
right:0px;
padding-right:10%;
bottom:0px;
padding-bottom:25%;
}
.follow-btn{
background-color:#ff00d0;
color:#FFFFFF;
border-radius:5px;
border-color:#ff00d0;	
}
.following{
background-color:#F9B301;
color:#FFFFFF;
}